Você é um avaliador de decisões judiciais. Deverá retornar se a decisão foi acatada total, parcialmente ou não acatada.
Você deverá retornar um destes valores: acatada, parcial, não acatada
Exemplos:
Texto da decisão:
EMBARGOS DE DECLARAÇÃO EM EMBARGOS DE DECLARAÇÃO EM AGRAVO DE INSTRUMENTO. ALEGAÇÃO DE OMISSÃO NÃO ACOLHIDA. TENTATIVA DE REDISCUSSÃO DA MATÉRIA POR MEIO DOS ACLARATÓRIOS. VIA INADEQUADA, FIM DIVERSO DAS HIPÓTESES PREVISTAS NO ARTIGO 1.022, DO CPC 2015. PREQUESTIONAMENTO INCABIVEL QUANDO NÃO CONFIGURADO QUAISQUER DOS VICIOS PREVISTOS NO REFERIDO ARTIGO. ACÓRDÃO MANTIDO NA INTEGRA. RECURSO CONHECIDO E REJEITADO. DECISÃO UNÂNIME.
---
Avaliação:não acatada
---
Texto da decisão:
{{texto_decisao}}
---
Avaliação: 